.brand-name {
    margin-left: 5%;
    width: 50%;
    font: 30px League Spartan, sans-serif;
    color: rgb(172, 255, 230);
}

.navbar-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(24, 24, 18, 0.78);
}

.nav-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
    margin-left: 15px;
}